before_install:
  - npm install qnit
language: node_js
node_js:
  # 0.10 might need a newer qmock:
  # - 0.10
  - 6
  - 8
  - 10
  - 12
  - 14
after_success:
  - if [ `node -p 'process.version.slice(0, 3)'` != "v8." ]; then exit; fi
  - npm install -g nyc@8.4.0 coveralls
  - nyc --reporter text --reporter lcov npm run test
  - nyc report -r text-lcov | coveralls
